@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
/*'Gayathri'*/
@import url('https://fonts.googleapis.com/css?family=Gayathri|Lora&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');


* {
  box-sizing: border-box
}

/* Buttons */

.button-small {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

body {
  margin: 0;
  font-family: 'Gayathri', 'sans-serif';
  text-align: center;
  max-width: 1839px /* change this maybe!!!!!!!!!!!!!!!!!!!!!!!!! */
}

main {

}

/* For responsiveness on mobiles devices */
img {
  max-width: 100%;
  height: auto;

}

.container {
  width: 40%;
  margin: auto;
  position: center;
  text-align: center;
}

.underline {
  border-bottom: 5px ridge #293241;
  box-sizing: border-box;
  left: 10rem;
  right: 10rem;
  border-bottom-width: .1rem;
  display: inline-block;
  content: ""; /* this was necesarry to get the width of the line to change */
  width: 80%;
}


/*Typography*
***************************************************/
h1 {
  font-weight: 100;
  font-size: 2.5rem;
}

p {
  margin-top: 0;
  line-height: 1.2;
  font-family: 'Lora';
}

p:last-of-type {
  margin-bottom: 0;
}

.title {
font-size: 20px;
color: rgb(200, 218, 233);
font-weight: lighter;
padding: 0;
margin-top: 1rem;
}

.title sec {
  font-size: 38px;
  padding:  0;
  margin: 0;
}

@media (min-width: 1100px) {
  .title {
    font-size: 20px;
  }
  .title span {
    font-size: 40px;
  }
}

/*navigation bar*
***************************************************/

header {
  
}


header .name {
  position: fixed;
  z-index: 2;
  bottom: 5rem;
  text-align: center;
  right: 10rem;
  left: 0;
  color: blanchedalmond;
  font-family: 'Open Sans Condensed';
}

nav ul {
  position: fixed;
  z-index: 999;
  list-style: none;
  top: 0;
  max-height: 50px;
  border: groove #4d525a;
  border-width: .1rem;
  background: #4f545d;
  display: flex;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  max-width: 118.95rem;
}

.nav-big { background: blue;}
.nav-small { background: red;}

nav li {
  /*display: inline-block; */
  margin: 20px;
}

/* Navigation text */
nav a {
  font-weight: 400;
  text-decoration: none;
  font-size: .9rem;
  padding: 5px 20px 5px 20px;
  color:rgb(232, 232, 243)
  /*background: pink;*/
}

nav a:hover,
nav a:focus {
color: rgb(198, 201, 204);
}

@media (min-width: 1100px) {
  .logo {
    float: left;
  }
}

/*Home*
***************************************************/

.home {
  /* background-color: rgb(46, 82, 112); */
  background: url(../SamuelWebsite/korea\ photo.jpg), url(../SamuelWebsite/bluepaint.jpg),
  linear-gradient(rgb(129, 161, 187), rgb(26, 22, 66));
  padding: 330px 0vh;
  padding-top: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  width: 118.95rem; /* change this maybe!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
}

/*About*
***************************************************/

.abouttitle {
  padding: 0 100px 0 100px;
  font-size: 1.2rem;
  position: absolute;
}

.about {
  z-index: 3;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  text-align: center;
  background-color:rgb(66, 69, 97);
  padding: 2rem;
}

.box {
  box-sizing: border-box;
  width: 33%;
  height: 60rem;
  max-width: 33%;
  max-height: 60rem;
  border: 2px solid rgb(255, 255, 255);
  border-width: .1;
  display: flex;
  position: relative;
  box-shadow: 0 0em .8em 0 #314b7a;
  background: rgb(225, 226, 230);
  padding: 2rem;
  line-height: 1rem;
  float: left;
  padding: 2rem;
}

#webdev-box {
  margin-top: 0;
  position: left;
  bottom: 0rem;
  }

/* music box
**************************************************************/

#music-box {
  position: center;
}

.mini-titles {
  display: flex;
  padding: 1rem;
  position: center;
  text-align: center;
  font-size: 1.1rem;
}

.spotify-text {
  float: left;
  width: 50%;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 18rem;
}

.spotify {
  width: 50%;
  float: right;
  top: 1rem;
}

.soundcloud-text {
  bottom: 4rem;
}


/* travel box 
**************************************************************/

#travel-box-sizing {
  position: right;
  height: 19.5rem;
  position: absolute;
  right: 2em;
  bottom: 2em;
  width: 31.9%
}

#travel-box {

}



/* Photography box 
**************************************************************/

#photography-box-sizing {
  position: right;
  margin-top: 0;
  height: 39.5rem;
  /* border-top: 0; */
}

#photography-box {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}


figure {
  margin: 0;
}

.port-item {
  position: relative;
  margin: 0;
  /* background-position: 50% 50%; */
  background-size: contain;
  background-repeat: no-repeat;
  /*object-fit: contain;*/
  width: 800px;
  height: 200px;
  overflow: hidden;
}

.port-item:hover .port-desc {
 transform: translateY(0%);
}

.port-item img {
  height: auto;
  float: left;
  max-width: 100%;
  max-height: 100%; /*******************************/
}

.port-desc {
  position: absolute;
  z-index: 100;
  bottom: 4rem;
  left: 1rem;
  right: 1rem;
  color: white;
  background: rgb(0, 0, 0, .3);
  padding-bottom: 1em;
}

.port-desc {
  transform: translateY(250%);
}

@media (min-width: 37rem) {

  .port-item {
    width: 50%; 
    float: left;
  }


}

.home-contact {
  position: absolute;
  top: 119rem;
  background: #293241;
  width: 100%;
  height: 13rem;
}

footer {
  position: absolute;
  top: 130rem;
  width: 100%;
  height: 6rem;
  background: #000000
}

.email-sentence {
  position: absolute; 
  right: 0rem;
  left: 0;
  top: 4.5rem;
}

.email {
  position: absolute; 
  right: 0rem;
  left: 6rem;
  top: 3.8rem;
}

.name1 {
  text-align: center;
  color: blanchedalmond;
  font-family: 'Open Sans Condensed';
  font-weight: 100em;
  font-size: 2.5rem;
  padding: 1rem;
}


.col-3 {
  text-align: center;
  padding: 2rem;
  color: aliceblue;
  font-weight: 400;
}